body {
    background-color: #262627;
    color:#D4D4D4;
}


a, a:hover, a:visited {
    color: #D4D4D4;
}

a.back span {
    background-image: url('../img/dark/left.png');
}

a.top span {
    background-image: url('../img/dark/top.png');
}

a.fav span {
    background-image: url('../img/dark/star-on.png');
}
a.fav span:hover {
    background-image: url('../img/dark/star-off.png');
}

a.fav-off span {
    background-image: url('../img/dark/star-off.png');
}
a.fav-off span:hover {
    background-image: url('../img/dark/star-on.png');
}

a.archive span {
    background-image: url('../img/dark/checkmark-on.png');
}
a.archive span:hover {
    background-image: url('../img/dark/checkmark-off.png');
}

a.archive-off span {
    background-image: url('../img/dark/checkmark-off.png');
}
a.archive-off span:hover {
    background-image: url('../img/dark/checkmark-on.png');
}

a.twitter span {
    background-image: url('../img/dark/twitter.png');
}

a.flattr span {
    background-image: url('../img/dark/flattr.png');
}

a.email span {
    background-image: url('../img/dark/envelop.png');
}

a.delete span {
    background-image: url('../img/dark/remove.png');
}

.pagination a {
    color: #aaa;
}

a.link span {
    background-image: url('../img/dark/link.png');
}

a.bad-display span {
    background-image: url('../img/dark/bad-display.png');
}

a.reading-time span {
    background-image: url('../img/dark/clock.png');
}

#article_toolbar
{
    background: #262627;
}